* {
    margin: 0;
    padding: 0;
    font-family: "Dungeon-Swap";
}
h3 {
    font-size: 18px;
}
p {
    font-size: 9px;
}
body {
    background: #0f0f0f
}
canvas#canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
div.devMenu {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    min-width: 100px;
}
div#mobControls {
    position: fixed;
    bottom: 0px;
    left: 0px;
}
div#mobControls > #joystickDiv {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
div#mobControls > .buttons {
    position: fixed;
    bottom: 25px;
    right: 25px;
}
div#mobControls > .buttons:first-child {
    margin-right: 10px;
    float: left;
}
div#mobControls > .buttons:last-child {
    float: left;
}
.btn {
    width: 40px;
    height: 40px;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}
.buttons {
    z-index: 1;
    position: fixed;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    float: left;
}
.titleBtns {
    float: left;
}
.titleBtns:last-child {
    margin-left: 30px;
}
.deathBtns {
    float: left;
}
.deathBtns:last-child {
    margin-left: 30px;
}
button {
    padding: 15px;
    font-size: 25px;
    background-color: #3f005a;
    border-radius: none;
    color: white;
    border: none;
    transition: background-color 0.1s;
    outline: none;
}
button:hover {
    padding: 15px;
    font-size: 25px;
    background-color: #4b1846;
    border-radius: none;
    color: white;
    border: none;
}